mixin prices-card(img, title, items, cost, costtxt)
	.prices__card
		.prices__img-wrapper-ibg
			img.prices__img(src="img/slider/products/product-"+img+".jpg" alt=title)
		h2.prices__card-title= title
		ul.prices__list
			each item in items
				li.prices__item= item
		.prices__footer
			.prices__cost 
				.prices__cost-top from
				.prices__cost-number= cost
				.prices__cost-dollor $
				.prices__cost-bottom= costtxt
			.prices__button-box
				.prices__button.button-prices <span>Contact us</span>


.prices
	.prices__container
		.prices__title.title Our <i>prices</i>
		.prices__wrapper
			+prices-card(
				"1",
				"3d product rendering",
				[
					"3D models creation based on drawings",
					"Creation of 3D models from photos and sketches",
					"Processing of scan results",
					"Preparing your model for 3D printing"
					],
				"700"
				)
			+prices-card(
				"2",
				"3d package rendering",
				[
					"3D models creation based on drawings",
					"Creation of 3D models from photos and sketches",
					"Preparation of banners and images",
					"Variable material and color options"
					],
				"600"
				)
			+prices-card(
				"3",
				"3d product animation",
				[
					"3D models creation",
					"Creation of the environment and materials",
					"Storyboard",
					"Sound design",
					],
				"3000",
				"for 30 sec video"
				)